/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by myself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Added it by myself*/
a, a:visited, a:hover, a:active {
  color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My code*/
body {
	font-size: 16px;
	line-height: 21px;
	font-family: Helvetica, Arial, sans-serif;
	min-width: 1024px;
	max-width: 100%;
	color: #000;
}
.wrapper {
	display: flex;
    flex-flow: column;
    min-height: 100vh;
} 
main {
	display: flex;
	flex-direction: row;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
	background: #000000;
}
.logo {
	padding-left: 48px;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
}
ul.nav-menu {
	display: flex;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-right: 48px;
	justify-content: flex-end;
}
.nav-menu> li {
	padding: 0 20px;
}
.nav-menu> li:last-child {
	padding-right: 0;
}
.nav-menu li a:hover,
.nav-menu li a.active {
	color: #D5C4B2;
	padding-bottom: 8px;
	border-bottom: 1px solid #D5C4B2;
}

aside.side-menu {
	padding: 32px 54px 0 48px;
	background: #D5C4B2;
	text-transform: uppercase;
	line-height: 32px;
	flex: 0 0 240px;
}
ul.side-list {
	width: 240px;
}
ul.side-list > li:hover {
	list-style-type:disc;
}
div.main-content  {
	background: #E5E5E5;
}
h1.typog-title {
	color: #D5C4B2;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	padding: 24px 48px;
	margin-bottom: 24px;
	display: flex;
	flex-grow: 2;
	border-bottom: 1px solid #D5C4B2;
}
div.main-wrapper {
	padding:  0 48px 71px 48px;
}
div.info-bar {
	background: rgba(213, 196, 178, 0.2);
	border-radius: 8px;
	margin-bottom: 48px;
	padding: 32px 32px 32px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
div.info-bar > li.explanation {
	display: flex;
	flex-direction: column;
}
div.info-icon {
	margin: 0 32px;
}
h2.sub-title {
	color: #D5C4B2;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #D5C4B2;
	padding-bottom: 16px;
	margin-bottom: 24px;
}
h1.h1 {
  font-size: 54px;
  line-height: 63px;
  margin-bottom: 42px;
  font-weight: bold;
}
h2.h2 {
  font-size: 36px;
  line-height: 42px;
}
h3.h3 {
  font-size: 24px;
  line-height: 42px;
}
h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: 21px;
}
div.body-text > p {
 margin-bottom: 21px;
}
code.sample {
	display: flex;
	flex-direction: column;
	font-family: HackRegular;
	background: #000000;
	border-radius: 8px;
	padding: 48px;
	color: #D5C4B2;
}
div.samples-container {
	border: 1px solid #D5C4B2;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 24px;
}