/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My code*/
body {
	font-size: 16px;
	line-height: 21px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	}
/* Look to the Bonfire project*/
div.wrapper {
	/*width: 1344px;*/
	margin: 0 auto;
} 
main {
	display: flex;
	flex-direction: row;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
	background: #000000;
}
ul.nav-menu {
	display: flex;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-right: 48px;
}
ul.nav-menu:hover {
}
ul.nav-menu> li {
	padding: 0 20px;
}
ul.nav-menu> li:hover {
	color: #D5C4B2;
	border-bottom: 1px solid #D5C4B2;
}
a.logo {
	cursor: pointer;
	padding-left: 48px;
}
a:visited {
	color: #FFFFFF;
}
aside.side-menu {
	padding-top: 32px;
	padding-right: 54px;
	background: #D5C4B2;
	text-transform: uppercase;
	padding-left: 48px;
	line-height: 32px;
}
div.main-content  {
	padding:  0 48px 71px 48px;
	background: #E5E5E5;
}
p.typog-title {
	color: #D5C4B2;
	text-transform: uppercase;
	font-size: 36px;
	padding: 24px 0;
	border-bottom: 1px solid #D5C4B2;
}
div.info-bar {
	/*width: 1104px;*/
	height: 127px;
	background: rgba(213, 196, 178, 0.2);
	border-radius: 8px;
	margin-top: 24px;
	margin-bottom: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	line-height: 1.3;
}
div.info-bar > li.explanation {
	display: flex;
	flex-direction: column;
}
div.info-icon {
	margin: 0 32px;
}
p.sub-title {
	color: #D5C4B2;
	font-size: 24px;
	text-transform: uppercase;
	border-bottom: 1px solid #D5C4B2;
	padding-bottom: 16px;
	margin-bottom: 24px;
	}
h1.h1 {
  font-size: 54px;
  line-height: 63px;
  margin-bottom: 42px;
}
h2.h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 21px;
}
h3.h3 {
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 21px;
}
h4.h4 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 21px;
}
h5.h5 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 21px;
}
h6.h6 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 21px;
}
div.sample {
	display: flex;
	flex-direction: column;
	/*width: 1072px;*/
	background: #000000;
	border-radius: 8px;
	font-size: 16px;
	line-height: 21px;
	padding: 48px;
	color: #D5C4B2;
}
div.samples-container {
	/*width: 1104px;*/
	border: 1px solid #D5C4B2;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 24px;
}
div.body-text > p {
  margin-bottom: 21px;
}

